body {
    background-color: #0A24A9;
}

#taust {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

#siht {
    width: 200px;
    height: 200px;
    position: fixed;
    top: 200px;
    left: 300px;
}

#siht div {
    border-radius: 50%;
    position: absolute;
    border: 2px solid green;
}

#siht div:nth-child(1) {
    height: 100%;
    width: 100%;
    background-color: white;
    left: 0%;
    top: 0%;
}

#siht div:nth-child(2) {
    height: 90%;
    width: 90%;
    background-color: red;
    left: 5%;
    top: 5%;
}

#siht div:nth-child(3) {
    height: 70%;
    width: 70%;
    background-color: white;
    left: 15%;
    top: 15%;
}

#siht div:nth-child(4) {
    height: 50%;
    width: 50%;
    background-color: red;
    left: 25%;
    top: 25%;
}

#siht div:nth-child(5) {
    height: 30%;
    width: 30%;
    background-color: white;
    left: 35%;
    top: 35%;
}

#siht div:nth-child(6) {
    height: 10%;
    width: 10%;
    background-color: red;
    left: 45%;
    top: 45%;
}
