<div class="menyy">
    <ul>
        <li>
            <a href="?mode=avaleht">Avaleht</a>
        </li>
        <li>
            <a href="?mode=login">Sisselogimine</a>
        </li>
        <li>
            <a href="?mode=reg">Registreerimine</a>
        </li>
        <li>
            <a href="?mode=galerii">Galerii</a>
        </li>
        <li>
            <a href="?mode=lisamine">Lisa pilt</a>
        </li>
        <li>
            <a href="http://google.com" target="_blank">Google</a>
        </li>
        <li>
            <a href="http://postimees.ee" target="_blank">Postimees</a>
        </li>
    </ul>
</div>
