<form method="post" action="pildilisamine.html" enctype="multipart/form-data">
    <table>
        <caption><strong>Lisa uus pilt</strong></caption>
        <tr>
            <th>Pealkiri</th>
            <td>
                <input type="text" name="pealkiri">
            </td>
        </tr>
        <tr>
            <th>Autor</th>
            <td>
                <input type="text" name="autor">
            </td>
        </tr>
        <tr>
            <th>Suur pilt</th>
            <td>
                <input type="file" name="suur_pilt">
            </td>
        </tr>
        <tr>
            <th>Pisipilt</th>
            <td>
                <input type="file" name="pisipilt">
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Lae pilt üles</button>
            </td>
        </tr>
    </table>
</form>
