<!doctype HTML>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/~mkeerus/I244/Kodused%20ülesanded/8.%20nädal/Galerii/Stiilid/stiil.css">
        <link rel="stylesheet" type="text/css" href="/~mkeerus/I244/Kodused%20ülesanded/8.%20nädal/Galerii/Stiilid/stiil_logreg.css">
        <link rel="stylesheet" type="text/css" href="/~mkeerus/I244/Kodused%20ülesanded/8.%20nädal/Galerii/Stiilid/stiil_media.css">
        <title> Galerii </title>
        <script src="galerii.js"></script>
    </head>

    <body>
